body {

background:#0f172a;
font-family:Arial;
margin:0;
color:white;

}

header {

text-align:center;
padding:30px;
font-size:28px;

}

.machines-grid {

display:grid;

grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

gap:25px;

padding:40px;

}

.machine-card {

padding:40px;

border-radius:12px;

font-size:24px;

text-align:center;

font-weight:bold;

}

.running {

background:#16a34a;

}

.stopped {

background:#dc2626;

}

.setup {

background:#facc15;

color:black;

}

.machine-name {

font-size:34px;

margin-bottom:15px;

}

.machine-info {

font-size:20px;

margin-top:10px;

}